@font-face {
  font-family: "NewYork";
  src: url("/static/Fonts/newyork.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("/static/Fonts/futura_book-normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Bold";
  src: url("/static/Fonts/futura_bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf1;
}

.main-container {
  background-color: #fffbf1;
}

.carousel-auto {
  padding: 55px 0;
  overflow: hidden;
}
.carousel-auto .carousel-track {
  display: flex;
  width: 200%;
  animation: bannermove 10s linear infinite;
}
.carousel-auto .carousel-track .slides,
.carousel-auto .carousel-track .slides-clone {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-left: 80px;
}
.carousel-auto .carousel-track .slides .carousel-image,
.carousel-auto .carousel-track .slides-clone .carousel-image {
  mix-blend-mode: multiply;
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .carousel-auto {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .carousel-auto .carousel-track {
    animation: none;
  }
  .carousel-auto .carousel-track .slides {
    display: flex;
    margin: 0;
    padding: 0 30px;
    gap: 30px;
  }
  .carousel-auto .carousel-track .slides li {
    width: 202px;
    height: 48px;
    scroll-snap-align: center;
  }
  .carousel-auto .carousel-track .carousel-image {
    max-width: 202px;
    width: 100%;
    height: auto;
    display: block;
  }
  .carousel-auto .carousel-track .slides-clone {
    display: none;
  }
}

@keyframes bannermove {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.most-famous {
  padding: 46px 0;
  width: 100%;
}
.most-famous .most-famous-text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.most-famous .most-famous-tiles {
  display: flex;
  margin: 64px 60px 0 60px;
  gap: 40px;
  justify-content: center;
}
.most-famous .most-famous-tiles .tile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.most-famous .most-famous-tiles .tile .product-image {
  position: relative;
  overflow: hidden;
}
.most-famous .most-famous-tiles .tile .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.most-famous .most-famous-tiles .tile .product-info {
  padding: 1rem 10px;
}
.most-famous .most-famous-tiles .tile .product-info .brand-name {
  color: #999999;
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
}
.most-famous .most-famous-tiles .tile .product-info .product-detail {
  display: flex;
  justify-content: space-between;
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 22px;
}

@media (min-width: 768px) {
  .product-image .hover-product-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .product-image:hover .hover-product-image {
    opacity: 1;
  }
  .product-image:hover .defult-product-image {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .most-famous .most-famous-tiles {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 20px;
    padding: 10px;
    margin: 46px 30px 0 30px;
    justify-content: unset;
  }
  .most-famous .tile {
    flex: 0 0 80%;
    scroll-snap-align: center;
    max-width: none;
  }
  .most-famous .tile img {
    height: 250px;
  }
  .most-famous .tile p {
    font-size: 0.9rem;
  }
  .most-famous .product-image img {
    height: auto;
  }
  .most-famous .hover-product-image {
    display: none !important;
  }
  .most-famous-text {
    width: unset !important;
  }
}
body {
  font-family: "NewYork", sans-serif;
}
body.menu-open {
  overflow: hidden;
}

.hero {
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero1 {
  background-image: url("/static/images/Hero.png");
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}
.header.scrolled .navbar {
  background: rgba(255, 255, 255, 0.5019607843);
  backdrop-filter: blur(40px);
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.375rem;
  position: relative;
}
.header .navbar .hamburger {
  display: block;
  background: none;
  border: none;
  padding: 0.5rem;
  z-index: 101;
  position: relative;
}
.header .navbar .hamburger .close-icon {
  display: none;
}
.header .navbar .hamburger[aria-expanded=true] .menu-icon {
  display: none;
}
.header .navbar .hamburger[aria-expanded=true] .close-icon {
  display: block;
}
.header .navbar .nav-links {
  display: none;
}
.header .navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .navbar .logo img {
  height: auto;
}
.header .navbar .nav-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header .navbar .nav-icons .icons {
  display: flex;
  gap: 2.125rem;
}
.header .navbar .nav-icons .icons .search-icon,
.header .navbar .nav-icons .icons .account-icon {
  display: none;
}
.header .mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 99;
  transition: left 0.3s ease;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbf1;
}
.header .mobile-menu.active {
  left: 0;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 32px 26px;
}
.header .mobile-menu.active .menu-footer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .mobile-menu.active .menu-footer .search,
.header .mobile-menu.active .menu-footer .account {
  display: flex;
  gap: 14px;
}
.header .mobile-menu.active .menu-footer .search::before {
  content: url("/static/images/Search.png");
}
.header .mobile-menu.active .menu-footer .account::before {
  content: url("/static/images/User.png");
}
.header .mobile-menu.active .menu-footer .v-separator {
  color: #c9c9c9;
}
.header .mobile-menu ul {
  list-style: none;
  text-align: center;
}
.header .mobile-menu ul li {
  margin: 2rem 0;
  text-align: start;
}
.header .mobile-menu ul li a {
  text-decoration: none;
}

.h4-m {
  font-family: "NewYork", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: #000;
}

@media (min-width: 768px) {
  .header .navbar {
    padding: 1.875rem 3.75rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }
  .header .navbar .hamburger {
    display: none;
  }
  .header .navbar .nav-links {
    display: flex;
    gap: 2rem;
    order: 0;
    list-style: none;
  }
  .header .navbar .nav-links li a {
    text-decoration: none;
  }
  .header .navbar .nav-icons {
    order: 2;
  }
  .header .navbar .nav-icons .icons .search-icon,
  .header .navbar .nav-icons .icons .account-icon {
    display: block;
  }
  .header .mobile-menu {
    display: none;
  }
  .text-m {
    font-family: "Futura", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #000;
  }
}
.separator {
  width: 100%;
  border-top: 2px solid #c9c9c9;
}

.container {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 48px 60px 0 60px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 7.7px 0px rgba(0, 0, 0, 0.1490196078);
  background: rgba(255, 255, 255, 0.5019607843);
  color: #000;
  padding: 50px;
  width: 662px;
}

.video-Section {
  width: 100%;
  margin-bottom: 108px;
}

@media (max-width: 768px) {
  .centered {
    width: 289px;
    padding: 69px 28px 102px 28px;
  }
  .container {
    margin: 46px 30px 0 30px;
  }
}
.product-grid {
  overflow: hidden;
}
.product-grid .grid-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.product-grid .grid-container .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 768px) {
  .product-grid .grid-container .col {
    width: 100%;
  }
}
.product-grid .grid-container .col .grid-tile {
  position: relative;
}
.product-grid .grid-container .col .grid-tile .grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-grid .grid-container .col .grid-tile .grid-img.Card1 {
  max-width: 436px;
  max-height: 720px;
}
.product-grid .grid-container .col .grid-tile .grid-img.Card2 {
  max-width: 438px;
  max-height: 467px;
}
.product-grid .grid-container .col .grid-tile .grid-img.hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.product-grid .grid-container .col .grid-tile .grid-img:hover.hover {
  opacity: 1;
}
.product-grid .grid-container .col .grid-tile .grid-img:hover.normal {
  opacity: 0;
}
@media (min-width: 768px) {
  .product-grid .grid-container {
    padding: 106px 60px 0 60px;
  }
}
@media (max-width: 768px) {
  .product-grid .grid-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 106px 30px 0 30px;
  }
  .product-grid .grid-container .col .grid-tile {
    max-width: 333px;
    max-height: 395px;
    position: unset;
  }
  .product-grid .grid-container .col .grid-tile .grid-img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }
  .product-grid .grid-container .col .grid-tile .grid-img.hover {
    position: unset;
  }
  .product-grid .grid-container .col .grid-tile .grid-img.normal:hover {
    opacity: 1;
  }
}

.collection {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 16px;
}

.collection1 {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

#blog {
  margin-top: 94px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 54px;
}

.flex-card {
  flex: 1;
  overflow: hidden;
  text-align: center;
}

.flex-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.flex-card p {
  padding: 15px;
  color: #333;
  font-weight: bold;
}

.flex-card a {
  text-decoration: none;
}

.flex-details {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

@media (max-width: 768px) {
  #blog {
    margin-top: 126px;
    margin-bottom: 70px;
  }
  .collection1 {
    margin-left: 52px;
    margin-right: 52px;
  }
  .flex-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 20px;
    padding: 10px;
    margin-top: 72px;
  }
  .flex-card {
    flex: 0 0 70%;
    scroll-snap-align: center;
    max-width: none;
  }
  .flex-card img {
    height: auto;
  }
  .flex-card p {
    font-size: 20px;
  }
}
.footer {
  color: #000;
  padding: 56px 64px;
}

.subscribe {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 23px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 52px;
  border: 1px solid #999999;
}

.email-input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: #fffbf1;
}

.email-input::placeholder {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}

.email-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  outline: none;
}

.email-button img {
  width: 21px;
  height: 9px;
}

.newsletter {
  text-align: center;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 28px;
}

.social-icons a {
  margin: 0 16px 0 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 40px;
}

.footer-links h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li a {
  text-decoration: none;
  color: #000;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 18px;
}

.footer-brand {
  font-family: NewYork;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}

.footer-rights {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 28px;
}

.quick-links {
  width: 251px;
}

.company-links {
  width: 317px;
}

.footer-header {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 26px;
}

.footer-links li {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
}

.footer-border {
  border: 1px solid #C9C9C9;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .newsletter {
    text-align: left;
    max-width: 30%;
  }
  .footer-links {
    flex-direction: row;
  }
  .footer-bottom {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0;
    margin: 32px;
  }
  .footer-container {
    align-items: unset;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-header {
    margin-bottom: 18px;
  }
  .footer-links li {
    margin-bottom: 18px;
  }
  .newsletter {
    text-align: left;
    margin-right: 13px;
  }
  .footer-bottom {
    text-align: left;
    display: unset;
  }
  .footer-rights {
    margin-top: 16px;
  }
}
.position {
  position: sticky;
}

.blog-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.blog-container-title {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  margin-bottom: 26px;
}
.blog-container-owner {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 26px;
}
.blog-container .social-icons {
  text-align: center;
  margin-bottom: 74px;
}
.blog-container-image {
  width: 100%;
  margin-bottom: 60px;
}
.blog-container-details {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.blog-container-name {
  font-family: "Futura", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}
.blog-container-image2 {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 78px;
}
.blog-container-button {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: 1px solid #000;
  width: 150px;
  height: 40px;
  margin-bottom: 34px;
  background-color: #fffbf1;
}
.blog-container-flex-container {
  margin-top: 94px;
  margin-bottom: 69px;
}
.blog-container-title2 {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 52px;
  text-align: center;
}
.blog-container-flex {
  display: flex;
}
.blog-container-flex-date {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3f4e4f;
  margin-bottom: 12px;
}
.blog-container-flex-details {
  font-family: "NewYork", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.blog-container-flex-child {
  margin: 10px 23px 10px 23px;
}

.list-style {
  list-style-type: inherit;
}

.footer-border1 {
  border: 1px solid #C9C9C9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .blog-main-container {
    margin-top: 100px;
  }
  .blog-container {
    margin: 30px;
  }
  .blog-container-title {
    font-size: 32px;
    line-height: 36px;
  }
  .blog-container-image2 img {
    width: 100%;
  }
  .blog-container .desktop-only {
    display: none;
  }
  .blog-container .mobile-only {
    display: block;
  }
}
.fade-in {
  opacity: 1;
  transform: none;
}
.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 768px) {
  .fade-in {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transform: translateY(60px);
    transition: transform 0.6s ease-in, opacity 0.9s ease-in;
  }
}

.video {
  margin-top: 76px;
}

/*# sourceMappingURL=index.css.map */
