@use '../variables' as *;

:root {
    --animationSpeed: 10000ms;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%)
    }
}

.slider {
    height: 70px;
    margin-top: 55px;
    margin-bottom: 46px;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        display: flex;
        animation: scroll var(--animationSpeed) linear infinite;
        flex: none;
        align-items: center;
    }

    .slide {
        height: 100px;
        width: 300px;
        text-align: center;
        font-size: 2em;
        padding: 7px;
        display: inline-block;
    }
}