@font-face {
    font-family: 'NewYork';
    src: url('/static/Fonts/newyork.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/static/Fonts/futura_book-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('/static/Fonts/futura_bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}