//colors
$primary-color: #2c3639;
$secondary-color: #3f4e4f;
$navbar-color: #ffffff80;
$body-color: #fffbf1;
$white: #fff;
$black: #000;
$famous-brand-color: #999999;
$border: #C9C9C9;
$header-font: #1E1E1E;
$separator-border-color : #c9c9c9;

// breakpoints
$breakpoint-mobile: 768px;

// fonts
$NewYork: 'NewYork', sans-serif;
$Futura: 'Futura', sans-serif;
$secondary-bold-font: 'Futura-Bold', sand-serif;
